/*#9ed909*/
.logo {
  width: 50px;
}

.navbar {
  background-color: #696969;
}

.jumbotron {
  background-color: #F08080;
  background-image: url(/img/fjum.jpg);
  color: black;
  margin: 0px auto;
  margin-bottom: 0p;
  width: 85%;
  border-radius: 30px;
  height: 450px;
}

.navbar .img-fluid {
  width: 40%;
  height: 150px;
}

.carousel {
  width: 60%;
  height: 100px;
  padding: 0;
  margin: 0;
}
@media (min-width: 320px){
  .offset-sm-3 {
      margin-left: 20%;
  }
  .carousel{
    height: 90%;
  }
}
@media (min-width: 320px){
  .iml{
    margin-left: 30%;
  }
}

.carousel-inner img {
  width: 350px;
  height: 200px;
}

.iml img {
  width: 40%;
  height: 150px;
  padding: 0;
  margin: 20px 0 0 0;
}

.container {
  width: 80%;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: #F08080;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  -webkit-box-flex: 1;
  -ms-flex: 1 200px;
  flex: 1 200px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

/*.navbar-toggler-icon{
    background-color: grey;
}*/
.active {
  font-weight: bolder;
}

.nav-link {
  color: #000;
}

.footer-icons {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.accordion {
  color: #737373;
  text-align: center;
}
.container2{
  width: 100%;
}
.imglogo img{
  opacity: .7;
  width: 80%;
  height: 200px;
  margin-left: 10%;
}
.eslogan{
  margin-top: 20px;
  text-align: center;
  color: #9008C3;
}
.eslogan h2{
  font-size: 40px;
}
.inf{
  margin-top: 20px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
