$yellow: #F08080;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
/*#9ed909*/

.logo{
    width: 40px;
    opacity: .8;
  }
  .navbar{
    background-color: #696969;
  }
  .jumbotron {
    background-color: $yellow;
    color: black;
    margin-top: 10px;
    margin-bottom: 0p;
  }
  .navbar .img-fluid{
    width: 40%;
    height: 150px;
    opacity: .5;
  }
  .carousel{
    width: 50%;
    height: 200px;
    padding: 0;
    margin: 0;
  }
  .carousel-inner  img{
    width: 300px;
    height: 250px;
  }
  .iml img{
    width: 50%;
    height: 250px;
    padding: 0;
    margin: 0;
  }
  .container {
    width: 80%;
  }
  
  .footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .card-hotel {
    -webkit-box-flex: 1;
        -ms-flex: 1 200px;
            flex: 1 200px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px;
  }
  
  /*.navbar-toggler-icon{
      background-color: grey;
  }*/
  .active {
    font-weight: bolder;
  }
  
  .nav-link {
    color: #000;
  }
  
  .footer-icons {
    padding-right: 10px;
  }
  
  .tab-content {
    padding-top: 10px;
  }
  
  .accordion {
    color: #737373;
    text-align: center;
  }